# ========== APP ==========
ENV=dev

# ========== DATABASE (DOCKER MYSQL) ==========
MYSQL_DATABASE=mysqlname
MYSQL_USER=username
MYSQL_PASSWORD=password

DATABASE_URL=mysql+mysqlconnector://username:password@host:port/mysqlname

# ========== REDIS ==========
REDIS_URL=redis://redis:6379/0

# ========== JWT ==========
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=43200
